@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  background-color: #111;
  color: #ccc;
}

button {
  background: #fff;
  border: none;
  border-radius: 8px;
  color: #444;
  cursor: pointer;
  padding: 8px;
  position: relative;
}

button::before {
  background: black;
  border-radius: inherit;
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  transition: background-color 0.5s ease, opacity 0.2s ease;
}

button:hover::before {
  opacity: 0.1;
}

form {
  background-color: #222;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
}

label {
  cursor: pointer;
}

textarea {
  background-color: #333;
  border: none;
  border-radius: 8px;
  color: inherit;
  padding: 8px;
  width: 100%;
}
